.card{
    background-color: #242424;
    border-radius: 15px;
    margin-top: 20px;
    color: #e1e1e1;
    font-family: 'Roboto';

    .heading{
        margin-top: 10px;
        text-align: center;
        color: #eeeeee;
        h5{
            margin: 0px;
            font-size: 20px;
            padding: 7px;
        }
    }
    .AnimeImg{
        img{
            width: 270px;
            height: 270px;
            border-radius: 10px;
        }
    }
    .animeInfo{
        font-size: 20px;
        h6{
            margin: 12px;
        }
    }
    .buttons{
        display: flex;
        justify-content: space-evenly;
        button{
            border: none;
            border-radius: 7px;
            background-color: #efb71f;
            padding: 7px 15px;
            margin-bottom: 10px;
            font-size: 15px;
            color: #2c2525;
        }
    }
}
.card:hover{
    transform: scale(1.06);
    transition: 0.25s;
}