.content{
    overflow-x: hidden;
    .slick-track{
        background: #1b1b1b;
        img{
            margin: auto;
            width: 73%;
            height: 78vh;
            @media screen and (max-width: 700px) {
                height: 50vh;
            }
            @media screen and (max-width: 400px) {
                height: 35vh;
            }
        }
    }
}