.AnimeInfo{
    display: flex;
    flex-direction: row;
    color: #e1e1e1;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    .AnimeImg{
        display: flex;
        flex-direction: column;
        button{
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 7px;
            background-color: #efb71f;
            border: none;
            border-radius: 5px;
            font-size: 17px;
        }
        @media screen and (max-width: 600px) {
            width: 95%;
        }
    }
    .animeData::-webkit-scrollbar {
        display: none;
      }
    .animeData{
        height: 450px;
        margin-left: 40px;
        overflow-x: scroll;
        .genre{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                margin-top: 5px;
            }
        }
    }
}